Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Peasant_Villager_Boy/Levels/Peasant_Boy_Demo_BuiltData.uasset
/Content/Cathedral/Map/Cathedral_Map_BuiltData.uasset
/Content/Cathedral/Map/Demo_Map_BuiltData.uasset
/Content/DynamicLocomotion/Maps/DemoMap.umap
/Content/DynamicLocomotion/Maps/DemoMap_BuiltData.uasset
/Content/DynamicLocomotion/Maps/OverviewMap.umap
/Content/DynamicLocomotion/Maps/OverviewMap_BuiltData.uasset
/.zip
